<!DOCTYPE html>
<html>
<style>
  <%- myCss.style %>
</style>
  <head>
    <title>KAWAYA</title>
  </head>
  <body>
    <h1>KAWAYA Rooms</h1>
    <ul>
      <% for (var i = 0; i < rooms.length; i++) { %>
      <li>
        <p class="room"><%= rooms[i].id %></p>
        <% if (rooms[i].status_of_use == 'notUsed') { %>
          <p>予約可能</p>
          <img src="./static/wc_img.jpg" alt="">
          <form method="post">
            <input type="hidden" name="room_id" value="<%= rooms[i].id %>">
            <input type="hidden" name="user_hash" value="560049c49ddb32fd83a0a137074856df">
            <input class="submit" type="submit" value="予約">
          </form>
        <% } else { %>
          <p>予約済み</p>
        <% } %>
        <br>
      </li>
      <% } %>
    </ul>
  </body>
</html>
